<div class="logo">
    <a href="/FinalProject/index.html">
        <img src="images/icon_songbanger.png" alt="SongBanger Logo">
    </a>    
</div>

<div class="search-bar">
    <input type="text" placeholder="Search for songs, artists, or albums...">
    <button type="submit" aria-label="Search">🔍</button>
</div>

<div class="user-page">
    <a href="/FinalProject/account/index.html" class="user-icon-link">
        <img src="images/user-account.svg" alt="User Account Icon">
    </a>
    <a href="/FinalProject/account/login.html" class="btn">Login</a>
    <a href="/FinalProject/account/signup.html" class="btn">Sign Up</a>
</div>